<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token  %}
        <table>
            <tr>
                <td>Title</td>
                <td><input type="text" name="Title" id=""></td>
            </tr>
            <tr>
                <td>Content</td>
                <td><input type="text" name="Content" id=""></td>
            </tr>
        </table>
        <button type="submit">Add</button>
    </form>
</body>
</html>