<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token  %}
       
    </form>
    <table>
        <tr>
            <td>#</td>
            <td>title</td>
            <td>description</td>
            <td>image</td>
        </tr>
        {% for i in work %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.w.title_name}}</td>
            <td>{{i.w.description_name}}</td>
            <td><img src="{{i.w.work_photo}}" width="100" height="100" alt=""></td>
            <td><a href="{% url 'webuser:workreq' i.id %}">Request</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>