<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
    {% csrf_token  %}
    <table>
        <tr>
            <td>Photo</td>
            <td><img></td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{Worker.Worker_Name}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{Worker.Worker_Email}}</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>{{Worker.Worker_Address}}</td>
        </tr>
        <tr>
            <td colspan="2" align="center"><a href="{% url 'webuser:EditProfile' %}">Edit Profile</a>
                <a href="{% url 'webuser:ChangePassword' %}">Change Password</a></td>

        </tr>
    </table>
</form>
</body>
</html>