<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token  %}
        <table>
            <tr>
                    <td>User Name</td>
                    <td>Contact</td>
                    <td>Address</td>
                    <td>Work</td>

            </tr>
            {% for i in view %}
            <td>{{i.user.User_Name}}</td>
            <tr>

            </tr>
            {% endfor %}
        </table>
    </form>
</body>
</html>