<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token  %}
        <table cellpadding="10">
            <tr>
                    <td>User Name</td>
                    <td>Contact</td>
                    <td>Address</td>
                    <td>Work</td>
                    <td>Amount</td>
                    <td>Details</td>
                    <td>For Date</td>
                    <td>Status</td>
                    <td>Action</td>

            </tr>
            {% for i in view %}
            <tr>
                <td>{{i.user.User_Name}}</td>
                <td>{{i.user.User_Contact}}</td>
                <td>{{i.user.User_Address}}</td>
                <td>{{i.work.title_name}}</td>
                <td>{{i.work.amount}}</td>
                <td>{{i.view.Details}}</td>
                <td>{{i.view.for_date}}</td>
                <td>{{i.view.request_status}}</td>
                <td><a href="{% url 'webworker:accept' i.id %}">Accept</a></td>
                <td><a href="{% url 'webworker:reject' i.id %}">Reject</a></td>

            </tr>
            {% endfor %}
        </table>
    </form>
</body>
</html>